{% extends 'base.html' %}

{% block title %}BS 프로그램 대상 설비 목록 -{% endblock %}

{% block content %}
<div id="main-body" class="container">
<p></p>
<div class="row">
    <div class="col-lg-2">
        <div id="expand_hide" class="list-group-flush">
            <a href="{% url 'list' %}" class="list-group-item list-group-item-action list-group-item-light {% if not current_client %}active{% endif %}">All</a>
            {% for c in clients %}
            <a href="{{ c.get_absolute_url }}" class="list-group-item list-group-item-action list-group-item-light {% if current_client.slug == c.slug %}active{% endif %}">{{ c.name }}</a>
            {% endfor %}
        </div><br>
    </div>
    <div class="col-lg-10">
        <div class="btn-group pull-right">
            <a href="{% url 'add' %}" class="btn btn-secondary">BS 대상 설비 추가</a>
        </div>
        {{current_client}}
        <br><br><br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">고객사</th>
                    <th scope="col">설비</th>
                    <th scope="col">시리얼 번호</th>
                    <th scope="col">점검자</th>
                    <th scope="col">확인자</th>
                    <th scope="col">결과</th>
                    <th scope="col">진단 및 확인</th>
                    <th scope="col">삭제</th>
                    <th scope="col">출력</th>
                </tr>
            </thead>
            <tbody>
                {% for bookmark in bookmarks %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'detail' pk=bookmark.id %}">{{ bookmark.client }}</a></td>
                        <td>{{ bookmark.model_type }}</td>
                        <td>{{ bookmark.model_no }}</td>
                        <td>{{ bookmark.inspector }}</td>
                        <td>{{ bookmark.manager }}</td>

                        {% if bookmark.confirm_bs != 1 %}
                        <td><span>-</span></td>
                        {% elif bookmark.manager != None %}
                        <td><span id="confirmed">완료</span></td>
                        {% else %}
                        <td><span id="not_confirmed">미완료</span></td>
                        {% endif %}

                        {% if bookmark.confirm_bs != 1 %}
                        <td><a href="{% url 'update' pk=bookmark.id %}" class="btn btn-success btn-sm">결과입력</a></td>
                        {% elif bookmark.manager != None %}
                        <td><a href="{% url 'update' pk=bookmark.id %}" class="btn btn-success btn-sm disabled">결과입력</a></td>
                        {% else %}
                        <td><a href="{% url 'update' pk=bookmark.id %}" class="btn btn-success btn-sm">결과입력</a></td>
                        {% endif %}

                        {% if bookmark.confirm_bs != 1 %}
                        <td><a href="{% url 'delete' pk=bookmark.id %}" class="btn btn-danger btn-sm">삭제</a></td>
                        {% elif bookmark.manager != None %}
                        <td><a href="{% url 'delete' pk=bookmark.id %}" class="btn btn-danger btn-sm disabled">삭제</a></td>
                        {% else %}
                        <td><a href="{% url 'delete' pk=bookmark.id %}" class="btn btn-danger btn-sm">삭제</a></td>
                        {% endif %}
                        <td><a href="{% url 'print' pk=bookmark.id %}" class="btn btn-info btn-sm">출력</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




<script>
</script>
</div>
{% endblock %}

{% block pagination %}
{% endblock %}