{% extends 'base.html' %}

{% block title %}등록설비 목록 -{% endblock %}

{% block content %}

<div class="btn-group">
    <a href="{% url 'get_qr_info' %}" class="btn btn-info">설비 등록</a>
</div>
{{current_client}}
<p></p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">설비</th>
            <th scope="col">시리얼 번호</th>
            <th scope="col">SW Ver.</th>
            <th scope="col">등록일자</th>
        </tr>
    </thead>
    <tbody>
        {% for qr in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ qr.model_name }}</td>
                <td>{{ qr.model_no }}</td>
                <td>{{ qr.ver_sw }}</td>
                <td>{{ qr.created|date:'Y-m-d, H:i' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table><br><br><br>

<span>sample code : ?model_name=DECAN%20F2&model_no=D3-0131&ver_sw=4.900.sp1&ver_mmi=4.501&ver_rt=2.566&ver_opti=3.567&ver_it=1.781&option_1=true</span>


{% endblock %}