{% extends 'base.html' %}
{% load static %}

{% block title %}Customer Survey -{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
<h2>고객 설문 조사</h2><br><br>
<h3>1. 설문자 정보</h3>
<table class="table">
    <thead>
        <tr>
            <th style="width:20%">항목</th>
            <th colspan="7" style="width:80%">입력 필드</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label class="form-check-label" for="id_name">설문자 이름 :</label>
            </td>

            {% if user.is_authenticated %}
            <td colspan="7">
                <input type="text" class="form-control" name="name" value="{{user.get_username}}" required="" id="id_name">
            </td>
            {% else %}
            <td colspan="7">
                <input type="text" class="form-control" name="name" placeholder="성함을 입력해주세요." required="" id="id_name">
            </td>
            {% endif %}
        </tr>
        <tr>
            <td>
                <label class="form-check-label" for="id_company">회사명 :</label>
            </td>
            <td colspan="7">
                <input type="text" class="form-control" name="company" placeholder="회사명을 입력해주세요." required="" id="id_company">
            </td>
        </tr>
        <tr>
            <td>
                <label class="form-check-label" for="id_mobile">연락처(모바일) :</label>
            </td>
            <td colspan="7">
                <input type="text" class="form-control" name="mobile" placeholder="'-'는 제외하고 입력해주세요." required="" id="id_mobile">
            </td>
        </tr>
        <tr>
            <td>
                <label class="form-check-label" for="id_email">연락처(이메일) :</label>
            </td>

            {% if user.is_authenticated %}
            <td colspan="7">
                <input type="text" class="form-control" name="email" value="{{user.email}}" required="" id="id_email">
            </td>
            {% else %}
            <td colspan="7">
                <input type="text" class="form-control" name="email" placeholder="이메일 주소를 입력해주세요." required="" id="id_email">
            </td>
            {% endif %}

        </tr>
        <tr>
            <td style="width:20%">담당업무 :</td>
            <td style="width:10%">
                <label class="form-check-label" for="id_ceo">
                    대표이사
                </label>
                <br>
                <input class="form-check-input" type="radio" name="position" value="ceo" required="" id="id_ceo">
            </td>
            <td style="width:10%">
                <label class="form-check-label" for="id_pd-management">
                    생산관리
                </label>
                <br>
                <input class="form-check-input" type="radio" name="position" value="pd-management" required="" id="id_pd-management">
            </td>
            <td style="width:10%">
                <label class="form-check-label" for="id_qa-management">
                    품질관리
                </label>
                <br>
                <input class="form-check-input" type="radio" name="position" value="qa-management" required="" id="id_qa-management">
            </td>
            <td style="width:10%">
                <label class="form-check-label" for="id_purchase">
                    구매
                </label>
                <br>
                <input class="form-check-input" type="radio" name="position" value="purchase" required="" id="id_purchase">
            </td>
            <td style="width:10%">
                <label class="form-check-label" for="id_engineer">
                    엔지니어
                </label>
                <br>
                <input class="form-check-input" type="radio" name="position" value="engineer" required="" id="id_engineer">
            </td>
            <td style="width:10%">
                <label class="form-check-label" for="id_others">
                    기타
                </label>
                <br>
                <input class="form-check-input" type="radio" name="position" value="others" required="" id="id_others">
            </td>
            <td><input type="text" class="form-control" name="position_other" value="'기타' 선택 시 입력"></td>
        </tr>
    </tbody>
</table><br><br>
<h3>2. BS 프로그램 관련</h3>
<table class="table">
    <thead>
        <tr>
            <th style="width:50%">항목</th>
            <th style="width:10%">매우 불만족</th>
            <th style="width:10%">다소 불만족</th>
            <th style="width:10%">보통</th>
            <th style="width:10%">다소 만족</th>
            <th style="width:10%">매우 만족</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>이번 BS 프로그램의 전체적인 만족도를 평가해주세요.</td>
            <td><input class="form-check-input" type="radio" name="q2_overall" value="1" required="" id="id_q2_overall"></td>
            <td><input class="form-check-input" type="radio" name="q2_overall" value="2" required="" id="id_q2_overall"></td>
            <td><input class="form-check-input" type="radio" name="q2_overall" value="3" required="" id="id_q2_overall"></td>
            <td><input class="form-check-input" type="radio" name="q2_overall" value="4" required="" id="id_q2_overall"></td>
            <td><input class="form-check-input" type="radio" name="q2_overall" value="5" required="" id="id_q2_overall"></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;- <strong>SW 부</strong> 점검 및 진단 프로그램의 만족도록 평가해주세요.</td>
            <td><input class="form-check-input" type="radio" name="q2_sw" value="1" required="" id="id_q2_sw"></td>
            <td><input class="form-check-input" type="radio" name="q2_sw" value="2" required="" id="id_q2_sw"></td>
            <td><input class="form-check-input" type="radio" name="q2_sw" value="3" required="" id="id_q2_sw"></td>
            <td><input class="form-check-input" type="radio" name="q2_sw" value="4" required="" id="id_q2_sw"></td>
            <td><input class="form-check-input" type="radio" name="q2_sw" value="5" required="" id="id_q2_sw"></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;- <strong>헤드 & ANC 부</strong> 점검 및 진단 프로그램의 만족도록 평가해주세요.</td>
            <td><input class="form-check-input" type="radio" name="q2_head_anc" value="1" required="" id="id_q2_head_anc"></td>
            <td><input class="form-check-input" type="radio" name="q2_head_anc" value="2" required="" id="id_q2_head_anc"></td>
            <td><input class="form-check-input" type="radio" name="q2_head_anc" value="3" required="" id="id_q2_head_anc"></td>
            <td><input class="form-check-input" type="radio" name="q2_head_anc" value="4" required="" id="id_q2_head_anc"></td>
            <td><input class="form-check-input" type="radio" name="q2_head_anc" value="5" required="" id="id_q2_head_anc"></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;- <strong>XY 프레임 부</strong> 점검 및 진단 프로그램의 만족도록 평가해주세요.</td>
            <td><input class="form-check-input" type="radio" name="q2_xy" value="1" required="" id="id_q2_xy"></td>
            <td><input class="form-check-input" type="radio" name="q2_xy" value="2" required="" id="id_q2_xy"></td>
            <td><input class="form-check-input" type="radio" name="q2_xy" value="3" required="" id="id_q2_xy"></td>
            <td><input class="form-check-input" type="radio" name="q2_xy" value="4" required="" id="id_q2_xy"></td>
            <td><input class="form-check-input" type="radio" name="q2_xy" value="5" required="" id="id_q2_xy"></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;- <strong>PCB 이송부</strong> 점검 및 진단 프로그램의 만족도록 평가해주세요.</td>
            <td><input class="form-check-input" type="radio" name="q2_conveyor" value="1" required="" id="id_q2_conveyor"></td>
            <td><input class="form-check-input" type="radio" name="q2_conveyor" value="2" required="" id="id_q2_conveyor"></td>
            <td><input class="form-check-input" type="radio" name="q2_conveyor" value="3" required="" id="id_q2_conveyor"></td>
            <td><input class="form-check-input" type="radio" name="q2_conveyor" value="4" required="" id="id_q2_conveyor"></td>
            <td><input class="form-check-input" type="radio" name="q2_conveyor" value="5" required="" id="id_q2_conveyor"></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;- <strong>피더 공급부</strong> 점검 및 진단 프로그램의 만족도록 평가해주세요.</td>
            <td><input class="form-check-input" type="radio" name="q2_feederbase" value="1" required="" id="id_q2_feederbase"></td>
            <td><input class="form-check-input" type="radio" name="q2_feederbase" value="2" required="" id="id_q2_feederbase"></td>
            <td><input class="form-check-input" type="radio" name="q2_feederbase" value="3" required="" id="id_q2_feederbase"></td>
            <td><input class="form-check-input" type="radio" name="q2_feederbase" value="4" required="" id="id_q2_feederbase"></td>
            <td><input class="form-check-input" type="radio" name="q2_feederbase" value="5" required="" id="id_q2_feederbase"></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;- <strong>조명 & 카메라부</strong> 점검 및 진단 프로그램의 만족도록 평가해주세요.</td>
            <td><input class="form-check-input" type="radio" name="q2_illumination" value="1" required="" id="id_q2_illumination"></td>
            <td><input class="form-check-input" type="radio" name="q2_illumination" value="2" required="" id="id_q2_illumination"></td>
            <td><input class="form-check-input" type="radio" name="q2_illumination" value="3" required="" id="id_q2_illumination"></td>
            <td><input class="form-check-input" type="radio" name="q2_illumination" value="4" required="" id="id_q2_illumination"></td>
            <td><input class="form-check-input" type="radio" name="q2_illumination" value="5" required="" id="id_q2_illumination"></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;- <strong>공압부</strong> 점검 및 진단 프로그램의 만족도록 평가해주세요.</td>
            <td><input class="form-check-input" type="radio" name="q2_air" value="1" required="" id="id_q2_air"></td>
            <td><input class="form-check-input" type="radio" name="q2_air" value="2" required="" id="id_q2_air"></td>
            <td><input class="form-check-input" type="radio" name="q2_air" value="3" required="" id="id_q2_air"></td>
            <td><input class="form-check-input" type="radio" name="q2_air" value="4" required="" id="id_q2_air"></td>
            <td><input class="form-check-input" type="radio" name="q2_air" value="5" required="" id="id_q2_air"></td>
        </tr>
        <tr>
            <td>BS 엔지니어의 진단결과를 신뢰하고 후속조치에 응할 의향이 있으십니까?</td>
            <td>네<br><input class="form-check-input" type="radio" name="q2_trust" value="yes" required="" id="id_q2_trust"></td>
            <td>아니오<br><input class="form-check-input" type="radio" name="q2_trust" value="no" required="" id="id_q2_trust"></td>
            <td>기타<br><input class="form-check-input" type="radio" name="q2_trust" value="other" required="" id="id_q2_trust"></td>
            <td colspan="2"><input type="text" class="form-control" name="q2_trust_other" value="'기타' 선택 시 입력"></td>
        </tr>
        <tr>
            <td>당사 서비스 엔지니어의 점검 및 진단을 정기적으로 받아볼 의향이 있으십니까?</td>
            <td>네<br><input class="form-check-input" type="radio" name="q2_after_service" value="yes" required="" id="id_q2_after_service"></td>
            <td>아니오<br><input class="form-check-input" type="radio" name="q2_after_service" value="no" required="" id="id_q2_after_service"></td>
            <td>기타<br><input class="form-check-input" type="radio" name="q2_after_service" value="other" required="" id="id_q2_after_service"></td>
            <td colspan="2"><input type="text" class="form-control" name="q2_after_service_other" value="'기타' 선택 시 입력"></td>
        </tr>
    </tbody>
</table><br><br>
<h3>3. 서비스 관심분야</h3>
<p>
<h5>3-1. 현재 귀하의 생산 환경 개선을 위해 가장 신경을 쓰고 있는 부분은 무엇입니까?</h5>
    <ol id="survey_ol">
        <li id="survey_li">SW 기능 업그레이드를 통한 생산성/품질 개선&nbsp;&nbsp;<input class="form-check-input" type="radio" name="q3_1_main_concern" value="SW 기능 업그레이드를 통한 생산성/품질 개선" required="" id="id_q3_1"></li>
        <li id="survey_li">HW 성능 개조를 통한 생산성/품질 개선&nbsp;&nbsp;<input class="form-check-input" type="radio" name="q3_1_main_concern" value="HW 성능 개조를 통한 생산성/품질 개선" required="" id="id_q3_1"></li>
        <li id="survey_li">생산공정 컨설팅/개선을 통한 생산성/품질 개선&nbsp;&nbsp;<input class="form-check-input" type="radio" name="q3_1_main_concern" value="생산공정 컨설팅/개선을 통한 생산성/품질 개선" required="" id="id_q3_1"></li>
        <li id="survey_li">SW 결함/고장 개선을 통한 생산성/품질 개선&nbsp;&nbsp;<input class="form-check-input" type="radio" name="q3_1_main_concern" value="SW 결함/고장 개선을 통한 생산성/품질 개선" required="" id="id_q3_1"></li>
        <li id="survey_li">HW 결함/고장 개선을 통한 생산성/품질 개선&nbsp;&nbsp;<input class="form-check-input" type="radio" name="q3_1_main_concern" value="HW 결함/고장 개선을 통한 생산성/품질 개선" required="" id="id_q3_1"></li>
    </ol>
</p><br>
<p>
<h5>3-2. 불확실한 미래에 업계 경쟁력을 갖추기 위해 귀하께서 관심을 두고 계신 기술분야는 어디입니까? (복수선택 가능)</h5>
    <ol id="survey_ol">
        <li id="survey_li">스마트 ERP(MES) 시스템&nbsp;&nbsp;<input class="form-check-input" type="hidden" name="q3_21_fi_smart_erp" value="0" required="" id="id_q3_2_1"><input class="form-check-input" type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value"></li>
        <li id="survey_li">공장 자동화 솔루션&nbsp;&nbsp;<input class="form-check-input" type="hidden" name="q3_22_fi_factory_automation" value="0" required="" id="id_q3_2_2"><input class="form-check-input" type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value"></li>
        <li id="survey_li">원격 서비스/지원&nbsp;&nbsp;<input class="form-check-input" type="hidden" name="q3_23_fi_remote_support" value="0" required="" id="id_q3_2_3"><input class="form-check-input" type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value"></li>
        <li id="survey_li">체계적 양성 프로그램(트레이닝/유지보수)&nbsp;&nbsp;<input class="form-check-input" type="hidden" name="q3_24_fi_systematical_training" value="0" required="" id="id_q3_2_4"><input class="form-check-input" type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value"></li>
        <li id="survey_li">기타&nbsp;&nbsp;<input class="form-check-input" type="hidden" name="q3_25_fi_other" value="0" required="" id="id_q3_2_5"><input class="form-check-input" type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value"></li>
        <li id="survey_li"><input type="text" class="form-control" name="q3_25_other" value="'기타' 선택 시 입력"></li>
    </ol>
</p><br>
<p>
<h5>3-3. 귀하는 한화정밀기계의 제품 및 서비스를 주변에 추천할 의향이 있으십니까? : <output id="amount" name="amount" for="q3_3_recommend_to_other">5</output> 점</h5>
<table class="table table-sm table-borderless">
    <tr>
        <td style="width:9.1%">비추천<br><span style="font-size:9pt">0</span></td>
        <td style="width:9.1%"><br><span style="font-size:9pt">1</span></td>
        <td style="width:9.1%"><br><span style="font-size:9pt">2</span></td>
        <td style="width:9.1%"><br><span style="font-size:9pt">3</span></td>
        <td style="width:9.1%"><br><span style="font-size:9pt">4</span></td>
        <td style="width:9.1%"><br><span style="font-size:9pt">5</span></td>
        <td style="width:9.1%"><br><span style="font-size:9pt">6</span></td>
        <td style="width:9.1%"><br><span style="font-size:9pt">7</span></td>
        <td style="width:9.1%"><br><span style="font-size:9pt">8</span></td>
        <td style="width:9.1%"><br><span style="font-size:9pt">9</span></td>
        <td style="width:9.1%">추천<br><span style="font-size:9pt">10</span></td>
    </tr>
    <tr>
        <td colspan="11">
            <div style="width:91%">
                <input type="range" id="rangeInput" name="q3_3_recommend_to_other" class="form-range" min="0" max="10" step="1"
       oninput="amount.value=rangeInput.value">
            </div>
        </td>
    </tr>
</table>
</p><br><br>

<h3>4. 기타 및 제출</h3>
    <ul id="survey_li">
        <li id="survey_li">
            <label for="id_manager_opinion">기타의견 및 요청사항</label><br>
            <textarea class="form-control" name="manager_opinion" required="" id="id_manager_opinion">의견을 작성해주세요.</textarea>
        </li>
        <li id="survey_li">
            <label for="id_confirm_news">한화정밀기계주식회사의 <button style="display:inline" type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
  개인정보 수집정책
</button>에 동의합니다.&nbsp;</label><input class="form-check-input" type="checkbox" name="policy_agreement" value="yes" required="" id="id_confirm_news">
        </li>
    </ul>
<input type="submit" value="제출하기" class="btn btn-primary" style="float:right">
<br><br><br><br>
<!--
    <script> function btn(){ alert('현재 제출기능은 꺼진 상태입니다.'); } </script>
-->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">개인정보 보호를 위한 이용자 동의사항</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-size:12px !important;">
          <p>'한화정밀기계주식회사'는 (이하 '회사'는) 고객님의 개인정보를 중요시하며, "개인정보보호법"을 준수하고 있습니다. 회사는 개인정보처리방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려 드립니다.</p>
          <p>본인은 다음과 같이 개인 정보를 제공‧활용하는 것에 동의합니다.</p>
          <ol>
              <li>
                  개인정보 수집‧이용 목적<br>
                  - 문의사항에 대한 답변 및 답변 정보 유지
              </li>
              <li>
                  개인정보 수집 항목<br>
                  - 필수항목 : 이름 , 회사명, 전화번호, 이메일<br>
                  - 사용자Agent(브라우저정보)가 자동으로 생성되어 수집될 수 있습니다.<br>
                  (서비스이용에 대한 통계분석 및 불법/부정이용 방지)
              </li>
              <li>
                  개인정보의 보유•이용기간<br>
                  - 설문 수집 담당자에게 요청 시까지, 요청 시 즉시 파기
              </li>
              <li>
                  동의 거부권 및 불이익 내용<br>
                  - 위의 개인정보 수집‧이용에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 이후 제공되는 서비스에 제한을 받을 수 있습니다.
              </li>
          </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div><br><br><br>
{% endblock %}