{% extends 'print.html' %}

{% block title %}BS 프로그램 대상 설비 목록 -{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3">
        <h2 style="display:inline;margin-right:20px">BS 소모품 이용 내역</h2>
    </div>
    <div class="col-9">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option>고객사 : 모두</option>
            {% for client in clients %}
            <option>고객사 : {{ client.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<br><br><br>
<table class="table table-hover">
    <thead>
        <tr>
            <th colspan="3" id="parts" style="width:16%">Part Code</th>
            {% for part in parts %}
                {% if part.part_name != 'dummy' %}
                    <th scope="col" id="parts" style="width:12%">{{ part.part_code }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th colspan="3" id="parts">Part Name</th>
            {% for part in parts %}
                {% if part.part_name != 'dummy' %}
                    <th scope="col" id="parts">{{ part.part_name }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th scope="col" id="parts" style="width:2%">#</th>
            <th scope="col" id="parts" style="width:6%">설비</th>
            <th scope="col" id="parts" style="width:8%">일련번호</th>
            {% for part in parts %}
                {% if part.part_name != 'dummy' %}
                    <th><img class="card-img-top" src="{{part.part_img.url}}" style="width:80%!important;border-bottom-right-radius: calc(.25rem - 1px);border-bottom-left-radius: calc(.25rem - 1px)"></th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for list in lists %}
            <tr>
                <td id="parts">{{ forloop.counter }}</td>
                <!--<td>{{ list.client }}</td>-->
                <td id="parts">{{ list.model_type }}</td>
                <td id="parts">{{ list.model_no }}</td>
                <td id="parts">{% if list.model_type.model_type %}{{ list.model_type.part1_qty }}{% else %}False{% endif %}</td>
                <td id="parts">{% if list.model_type.model_type %}{{ list.model_type.part2_qty }}{% else %}False{% endif %}</td>
                <td id="parts">{% if list.model_type.model_type %}{{ list.model_type.part3_qty }}{% else %}False{% endif %}</td>
                <td id="parts">{% if list.model_type.model_type %}{{ list.model_type.part4_qty }}{% else %}False{% endif %}</td>
                <td id="parts">{% if list.model_type.model_type %}{{ list.model_type.part5_qty }}{% else %}False{% endif %}</td>
                <td id="parts">{% if list.model_type.model_type %}{{ list.model_type.part6_qty }}{% else %}False{% endif %}</td>
                <td id="parts">{% if list.model_type.model_type %}{{ list.model_type.part7_qty }}{% else %}False{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th id="parts" colspan="3">합계</th>
            <th id="parts">{{ sum1 }}</th>
            <th id="parts">{{ sum2 }}</th>
            <th id="parts">{{ sum3 }}</th>
            <th id="parts">{{ sum4 }}</th>
            <th id="parts">{{ sum5 }}</th>
            <th id="parts">{{ sum6 }}</th>
            <th id="parts">{{ sum7 }}</th>
        </tr>
    </tfoot>
</table>
{% endblock %}

{% block pagination %}

{% endblock %}