body {
    padding-bottom:60px !important;
}
#ng {
    background-color:yellow !important;
    color:red;
}
#ok {
    color:green;
}
#confirmed {
    color:black;
}
survey_li {
    margin-bottom:10px;
}
#parts {
    font-size:9px !important;
}
#survey_list_width {
    width:20% !important;
}
#star {
    color:#8549F1 !important;
    margin-right:2px;
    font-size:18px;
}
#check {
    color:black;
    font-size:18px !important;
}
#minus {
    color:black;
    font-size:8px !important;
}