
#ng {
    background-color:yellow !important;
    color:red;
}
#ok {
    color:green;
}
#confirmed {
    color:black;
}
survey_li {
    margin-bottom:10px;
}
#parts {
    font-size:9px !important;
}
#survey_list_width {
    width:15% !important;
}
#star {
    color:#8549F1 !important;
    margin-right:2px;
    font-size:18px;
}
#star_recommend {
    color:#DA3849 !important;
    margin-right:2px;
    font-size:18px;
}
#check {
    color:black;
    font-size:18px !important;
}
#minus {
    color:black;
    font-size:8px !important;
}
#caption_img {
    font-size:8px !important;
}

@media (min-width: 993px){
    .fixed-custom {
        position: fixed;
        width:100%;
        top:0;
        left:0;
        z-index:3000;
    }

    #t_sol_main_copy{
        height:85vh;
        background-attachment: fixed !important;
    }
    #t_sol_olp{
        height:40vh;
        background-attachment: fixed !important;
    }
    #t_sol_it{
        height:40vh;
        background-attachment: fixed !important;
    }
    #goods_img{
        height:75vh !important;
    }
}

@media (max-width: 992px){
    .fixed-custom {
        width:100%;
        z-index:3000;
    }

    #t_sol_main_copy{
        height:80vh;
        background-attachment: fixed !important;
    }
    #t_sol_olp{
        height:45vh;
        background-attachment: fixed !important;
    }

    #t_sol_it{
        height:45vh;
        background-attachment: fixed !important;
    }
    #goods_img{
        height:70vh !important;
    }
}

@media (max-width: 768px){


    #t_sol_main_copy{
        height:70vh;
    }
    #t_sol_olp{
        height:45vh;
    }
    #t_sol_it{
        height:45vh;
    }
    #goods_img{
        height:55vh !important;
    }
}

@media (max-width: 576px){


    #t_sol_main_copy{
        height:60vh;
    }
    #t_sol_olp{
        height:45vh;
    }

    #t_sol_it{
        height:45vh;
    }

    #goods_img{
        height:45vh !important;
    }
}



#main-body {
    position:relative!important;
    margin-top:20px!important;
}

.visible {
    display : flex!important;
}

/*
----------Products
*/

/* Badge Option */
#ok_badge{
    background-color:gray;
    color:#0d1049 !important;
}

#no_badge{
    background-color:gray;
    color:#cacaca;
}

#t_sol_olp header {
    max-width:80%;
    position:relative;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:1rem;
    text-align:center;
}

#t_sol_it header {
    max-width:80%;
    position:relative;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:1rem;
    text-align:center;
}

