
#ng {
    background-color:yellow !important;
    color:red;
}
#ok {
    color:green;
}
#confirmed {
    color:black;
}
survey_li {
    margin-bottom:10px;
}
#parts {
    font-size:9px !important;
}
#survey_list_width {
    width:15% !important;
}
#star {
    color:#8549F1 !important;
    margin-right:2px;
    font-size:18px;
}
#star_recommend {
    color:#DA3849 !important;
    margin-right:2px;
    font-size:18px;
}
#check {
    color:black;
    font-size:18px !important;
}
#minus {
    color:black;
    font-size:8px !important;
}
#caption_img {
    font-size:8px !important;
}

.fixed-custom {
    position: fixed;
    width:100%;
    top:0;
    z-index:3000;
}



#main-body {
    position:relative!important;
    margin-top:20px!important;
}

.visible {
    display : flex!important;
}