{% extends 'base.html' %}
{% block title %}고객 등록 -{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <div class="alert alert-info">
                등록 정보를 입력해주세요.<br>
                등록된 정보로 BS 결과 리포트를 발송해드립니다.<br><br>
                <li>'담당자 이름'은 확인담당자의 본명을 기입해주세요.</li>
                <li>'이메일 주소'는 정확히 기입해주시고,</li>
                <li>'비밀번호'는 문자 포함 8자 이상으로 입력해주세요.</li>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <table class="table">
                    <thead>
                        <tr>
                            <th>구분</th>
                            <th>입력필드</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ form.username.errors }}
                                <label for="id_username">담당자 이름:</label>
                            </td>
                            <td>
                                {{ form.username }}
                            </td>
                            <td>본명을 기입해주세요.<br>(특수문자는 숫자 그리고 @/./+/-/_만 가능합니다.)</td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.email.errors }}
                                <label for="id_email">이메일 주소:</label>
                            </td>
                            <td>
                                {{ form.email }}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.password.errors }}
                                <label for="id_password">비밀번호:</label>
                            </td>
                            <td>
                                {{ form.password }}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.password2.errors }}
                                <label for="id_password2">비밀번호 확인:</label>
                            </td>
                            <td>
                                {{ form.password2 }}
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <input class="btn btn-primary" type="submit" value="등록">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}