{% extends 'base.html' %}

{% block title %}T-Solution -{% endblock %}

{% block content %}
<div class="container-fluid" style="background-image:url('/static/img/softwares/t-solution/main_back.jpg');background-size:100% 100%;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col col-sm-8">
            <div id="target_machine" class="mt-2 mb-5" style="margin-left:20px;margin-right:20px">
                <h5 style="margin-bottom:0px;color:#999999">
                 <i>대상 설비를 꼭 확인하세요!</i>
                </h5>
                <span id="ok_badge" class="badge">HM520</span>
                <span id="ok_badge" class="badge">EXCEN</span>
                <span id="ok_badge" class="badge">DECAN</span>
                <span id="ok_badge" class="badge">SM471</span>
                <span id="ok_badge" class="badge">SM481</span>
                <span id="ok_badge" class="badge">SM482</span>
                <span id="ok_badge" class="badge">SM451</span>
                <span id="ok_badge" class="badge">SM411</span>
                <span id="ok_badge" class="badge">SM411F</span>
                <span id="ok_badge" class="badge">SM421</span>
                <span id="no_badge" class="badge">SLM100</span>
                <span id="no_badge" class="badge">SCM</span>
            </div>
            <div id="intro" style="margin-left:20px;margin-right:20px">
                <center>
                    <h2  style="color:white;font-size:35pt;font-weight:500">
                        <div>
                            T-Solution
                        </div>
                    </h2>
                    <br>
                    <h2 style="color:white;font-size:45pt;font-weight:500;line-height:55pt">
                        생산에 필요한 모든것을 여기에 담다.
                    </h2>
                    <br>
                    <h3 style="color:white;font-size:16pt;font-weight:500;line-height:28pt">
                    <p>손쉬운 부품 등록과 프로그램 작성 알고리즘, 그리고 직관적인 생산성 시뮬레이션 UI를 통해 스마트한 생산계획을 수립해 보세요. 프로그램과 실제 배치된 부품이 일치하는지의 검사는 물론 생산 중에 편집된 프로그램 또는 부품 라이브러리를 데이터베이스에 담아 통합적으로 관리하여 작업 효율이 향상되는 경험을 제공합니다.</p><br><br>
                    <p>T-Solution은 T-Studio, T-OLP, T-Elite, T-IT, T-Feeder 등 다양한 솔루션을 포함한 소프트웨어들의 총칭입니다.</p>
                    </h3>
                </center>
          </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div class="container-fluid" style="background-image:url('/static/img/softwares/t-solution/main_copy_detailed.jpg');background-size:cover;width:auto;overflow:hidden">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col col-sm-8">
            <div id="intro" style="margin-left:20px;margin-right:20px">
                <center>
                    <h2  style="color:#2c292c;font-size:35pt;font-weight:500">
                    <div>
                    T-Elite
                    </div>
                    </h2>
                    <br>
                    <h3 style="color:#2c292c;font-size:16pt;font-weight:500;line-height:28pt">
                    제대로 작성된 작업 프로그램은 정확하게 등록된 부품데이터로부터 만들어집니다. 점점 다양해지는 부품들을 이제는 사전에 미리 등록해 놓으세요. 이후의 작업이 더욱 간결해집니다.
                    </h2>
                </center>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock %}