{% extends 'base.html' %}

{% block title %}T-Solution -{% endblock %}

{% block content %}
<div class="container-fluid" style="background-image:url('/static/img/softwares/t-solution/main_back.jpg');background-size:100% 100%;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div id="target_machine" style="margin-left:20px;margin-right:20px">
                <h5 style="margin-bottom:0px;color:#999999">
                 <i>대상 설비를 꼭 확인하세요!</i>
                </h5>
                <span id="ok_badge" class="badge">HM520</span>
                <span id="ok_badge" class="badge">EXCEN</span>
                <span id="ok_badge" class="badge">DECAN</span>
                <span id="ok_badge" class="badge">SM471</span>
                <span id="ok_badge" class="badge">SM481</span>
                <span id="ok_badge" class="badge">SM482</span>
                <span id="ok_badge" class="badge">SM451</span>
                <span id="ok_badge" class="badge">SM411</span>
                <span id="ok_badge" class="badge">SM411F</span>
                <span id="ok_badge" class="badge">SM421</span>
                <span id="no_badge" class="badge">SLM100</span>
                <span id="no_badge" class="badge">SCM</span>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}